.active {
    background-color: gold;
}

.cyan {
    background-color: #00bcd4!important;
}

.navbar .nav-item .fa {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-item {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
}

.navbar .navbar-brand {
    margin-right: 50px;
    font-size: 25px;
}